<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>company</title>
</head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
<body>
    <h1>company info</h1>
    <form method="get" action="/search/" target="_blank">
      {% csrf_token %}
      <input type="search" name = 'query' placeholder="search" required>
      <button type="submit">search company by id</button>
    </form>
    <table>
        <thead>
            <tr style="outline: thin solid">
                <th>id</th>
                <th>type</th>
                <th>name_th</th>
                <th>registration_date</th>
                <th>registration_money</th>
                <th>status</th>
                <th>address</th>
                <th>objective</th>
                <th>street</th>
                <th>subdistrict</th>
                <th>district</th>
                <th>province</th>
                <th>zipcode</th>
                <th>business_type_code</th>
                <th>business_type</th>
                <th>directors</th>
            </tr>
        </thead>
        <tbody>
            {% if company_list %}
                {% for company in company_list %}
                    <tr style="outline: thin solid">
                        <td>{{company.dbd_id}}</td>
                        <td>{{company.dbd_type}}</td>
                        <td>{{company.dbd_name_th}}</td>
                        <td>{{company.dbd_registration_date}}</td>
                        <td>{{company.dbd_registration_money}}</td>
                        <td>{{company.dbd_status}}</td>
                        <td>{{company.dbd_address}}</td>
                        <td>{{company.dbd_objective}}</td>
                        <td>{{company.dbd_street}}</td>
                        <td>{{company.dbd_subdistrict}}</td>
                        <td>{{company.dbd_district}}</td>
                        <td>{{company.dbd_province}}</td>
                        <td>{{company.dbd_zipcode}}</td>
                        <td>{{company.dbd_business_type_code}}</td>
                        <td>{{company.dbd_business_type}}</td>
                        <td>{{company.dbd_directors}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="16">no data</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div>
        <ul class="pagination">
        <li><a href="/company/?page=1">head</a></li>
             {% if company_list.has_previous %}
                    <li><a href="/company/?page={{ company_list.previous_page_number }}">last page</a></li>
             {% endif %}

             {% for num in company_list.paginator.page_range %}
                <li><a href="/company/?page={{ num }}">{{ num }}</a></li>
             {% endfor %}

             {% if company_list.has_next %}
                 <li><a href="/company/?page={{ company_list.next_page_number }}">next page</a></li>
             {% endif %}

            <li><a href="/company/?page={{ company_list.paginator.num_pages }}">end</a></li>
         </ul>
    </div>

</body>
</html>

