@font-face {
    font-family: 'CordiaUPC';
    src: url('CordiaUPC.eot');
    src: url('CordiaUPC.eot?#iefix') format('embedded-opentype'),
        url('CordiaUPC.woff2') format('woff2'),
        url('CordiaUPC.woff') format('woff'),
        url('CordiaUPC.ttf') format('truetype'),
        url('CordiaUPC.svg#CordiaUPC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CordiaUPC';
    src: url('CordiaUPC-Bold.eot');
    src: url('CordiaUPC-Bold.eot?#iefix') format('embedded-opentype'),
        url('CordiaUPC-Bold.woff2') format('woff2'),
        url('CordiaUPC-Bold.woff') format('woff'),
        url('CordiaUPC-Bold.ttf') format('truetype'),
        url('CordiaUPC-Bold.svg#CordiaUPC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

